$primary-color: #1A75CF;
$secondary-color: #FF621B;
$roboto: 'Roboto';
$openSans: 'Open Sans';

@mixin phone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

footer {
  max-width: 1200px;
  margin: 0 auto;

  .copyright {
    margin: 1rem 0 1rem 0;
    font-family: $openSans, sans-serif;
  }
}

.footer {
  border-top: solid #ccc 1px;
  border-bottom: solid #ccc 1px;
  padding: 1rem;
  margin-top: 2rem;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;

    @include phone {
      display: block;
      width: 100%;
    }

    h1 {
      text-transform: uppercase;
      font-family: $roboto, sans-serif;
      a {
        text-decoration: none;
        color: $primary-color;
      }

      span {
        color: $secondary-color;
      }
    }

    div {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  .footer-container {
    display: flex;
    justify-content: space-around;

    @include phone {
      margin-top: 5px;
    }

    h3 {
      color: $primary-color;
      font-family: $roboto, sans-serif;
    }

    p {
      font-family: $openSans, sans-serif;
    }

    .social {
      a {
        text-decoration: none;
        color: $primary-color;
        font-size: x-large;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 3px;

    a {
      text-decoration: none;
      color: black;
      font-family: $openSans, sans-serif;
    }
    a:hover {
      color: $primary-color;
    }
  }

}
