$primary-color: #1A75CF;
$secondary-color: #FF621B;
$roboto: 'Roboto';
$openSans: 'Open Sans';

@mixin phone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}


.hero-img-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 900px;
  object-fit: cover;
  object-position: 50% 50%;

  .hero-text {
    position: absolute;
    color: black;
    bottom: 1in;
    right: 0;
    width: 100%;
    max-width: 500px;
    margin-right: 3rem;
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    height: 450px;
    padding: 1rem;
    font-family: $openSans, sans-serif;
    box-sizing: border-box;

    @include phone {
      width: 75%;
      margin-right: 0;
      height: 450px;
      padding: 0;
      bottom: 0;
      right: 0.6in;
      padding-left: 10px;
    }

    h3 {
      font-size: 1.8rem;
      font-family: $roboto, sans-serif;
      text-align: center;
      color: $primary-color;
      span {
        color: $secondary-color;
      }

      @include phone {
        font-size: 1.5rem;
      }
    }

    .button-container {
      margin-top: 3rem;
      @include phone {
        margin-top: 1rem;
      }
    }

    a {
      text-decoration: none;
      color: white;
      background-color: $primary-color;
      padding: 0.7rem 1.5rem;
      text-transform: uppercase;
      font-family: $roboto, sans-serif;
      border-radius: 5px;
      transition: background 0.5s;
    }

    a:hover {
      background-color: #063e75;
    }
  }

  img {
    width: 100%;
  }

  .second-drone {
    display: none;

    @include phone {
      display: block;
    }
  }

  .first-drone {
    @include phone {
      display: none;
    }
  }
}

section:nth-child(2) {
  font-family: $roboto, sans-serif;
  padding: 1rem;
  background-color: whitesmoke;

  .title {
    margin-top: 2rem;
    text-align: center;
    color: $primary-color;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    gap: 15px;

    @include phone {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .cards {
      width: 300px;
      height: 550px;
      overflow: hidden;
      box-shadow: 0px 0px 10px $primary-color;
      border-radius: 5px;
      text-align: center;
      padding: 1rem;

      div {
        margin: 3rem 0 2rem 0;
      }

      .aerial-button {
        margin: 4rem 0 2rem 0;
      }

      .custom-button {
        margin: 3rem 0 2rem 0;
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: fill;
        border-radius: 8px;
      }
    }
  }

  .cards:nth-child(3) {
    display: flex;
    flex-direction: column;
    div {
      margin: 1.6rem 0 2rem 0;
    }
  }

  .align-center {
    text-align: center;
    margin: 3rem 0 1rem 0;

    p {
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}


.button {
  text-decoration: none;
  color: white;
  background-color: $primary-color;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  font-family: $roboto, sans-serif;
  border-radius: 5px;
  transition: background 0.5s;
}

.button:hover {
  background-color: #063e75;
}

p {
  margin: 0;
}

.title {
  font-family: $roboto, sans-serif;
  padding: 1rem;
  text-align: center;
  color: $primary-color;
}

section:nth-child(3) {
  max-width: 1000px;
  margin: 0 auto;

  article {
    font-family: $openSans, sans-serif;
    text-align: center;
    padding: 1rem;
  }
}

section:nth-child(4) {
  background-color: whitesmoke;
  padding: 1rem;
  margin-top: 1rem;

  h2 {
    font-family: $roboto, sans-serif;
    text-align: center;
    color: $primary-color;
  }

  .cards-container {
    display: flex;
    width: 100%;
    text-align: center;

    @include phone {
      flex-wrap: wrap;
    }

    .cards {
      padding: 1rem;
      border-right: $primary-color solid 2px;
      font-family: $openSans, sans-serif;

      h5 {
        font-size: 0.8rem;
      }

      p {
        font-size: 0.9rem;
      }

      @include phone {
        border-right: none;
        border-bottom: $primary-color solid 1px;
      }
    }

    .cards:nth-child(4) {
      border-right: none;
    }
  }
}
