$primary-color:#1A75CF;
$secondary-color: #FF621B;


header {
  display: flex;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  left: 0;
  padding: 2rem;
  backdrop-filter: blur(3px);
  background-color: hsla(0, 0%, 83%, 0.5);
  .logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    h1 {
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $primary-color;
      }
      span {
        color: $secondary-color;
      }
    }
    div {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
  .nav-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    a {
      text-decoration: none;
      color: black;
      padding: 1rem 1.5rem;
      transition: background ease-in-out .5s;
    }
    a:hover {
      color: $primary-color;
    }
    .active {
      text-decoration: underline;
      text-underline-offset: 15px;
      text-decoration-color: $primary-color;
      text-decoration-thickness: 2px;
    }
  }
}
